{% extends "base.twig" %}

{% block body %}
    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <div class="d-flex mb-4">
                        <div class="dropdown mr-2">
                            <button class="btn btn-light btn-icon-left dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ya ya-tag"></i> All categories
                            </button>
                            <div class="dropdown-menu dropdown-height">
                                <a class="dropdown-item active" href="#">All categories</a>
                                {% for cat in categories %}
                                    <a class="dropdown-item" href="#">{{ cat.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="dropdown mr-auto">
                            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Recent posts
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item active" href="#">Recent</a>
                                <a class="dropdown-item" href="#">Oldest</a>
                                <a class="dropdown-item" href="#">Popular</a>
                                <a class="dropdown-item" href="#">Most Comments</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-light btn-icon-left dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Descending
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item active" href="#">Descending</a>
                                <a class="dropdown-item" href="#">Ascending</a>
                                <a class="dropdown-item" href="#">Random</a>
                            </div>
                        </div>
                        <div class="btn-group ml-2" role="group">
                            <button type="button" class="btn btn-light"><i class="ya ya-list m-0"></i></button>
                            <button type="button" class="btn btn-light"><i class="ya ya-table m-0"></i></button>
                        </div>
                    </div>
                    {% for blog in blogs %}
                        <div class="card">
                            <div class="card-header">
                                <h6 class="mb-0">{{ blog.title }}</h6>
                            </div>
                            <div class="card-body">
                                <div class="post border-0 mb-0 pb-0">
                                    <div class="post-thumbnail">
                                        {% if blog.carousel %}
                                            <div class="owl-carousel" ya-carousel>
                                                {% for carousel in blog.carousel %}
                                                    <img src="{{ carousel }}" alt="{{ blog.title }}">
                                                {% endfor %}
                                            </div>
                                        {% elseif blog.video %}
                                            <div ya-embed="{{ blog.video.src }}">
                                                <img src="{{ blog.video.img }}" alt="{{ blog.title }}">
                                            </div>
                                        {% else %}
                                            <img class="post-img" src="{{ blog.img }}" alt="{{ blog.title }}">
                                        {% endif %}
                                    </div>
                                    <div class="post-body">
                                        <p>{{ blog.text }}</p>
                                    </div>
                                </div>
                                <!-- end .post -->
                            </div>
                            <div class="card-footer align-items-center">
                                <a class="btn btn-outline ml-0" href="{{ blog.url }}" role="button">Read more</a>
                                <div class="ml-auto">
                                    <button class="btn btn-default btn-icon font-size-md mr-1"><i class="ya ya-like"></i> Like ({{ blog.meta.like }})</button>
                                    <button class="btn btn-default btn-icon font-size-md"><i class="ya ya-comment"></i> Comments ({{ blog.meta.comments }})</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <nav aria-label="Page navigation">
                        <ul class="pagination mb-0">
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item gap"><span class="page-link">...</span></li>
                            <li class="page-item"><a class="page-link" href="#">25</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                    <!-- end pagination -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
