{% extends "base.twig" %}

{% set page = {
    footer: 'sticky'
} %}

{% block body %}
    <nav class="bg-primary pt-1" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Changelog</li>
            </ol>
        </div>
    </nav>

    <section class="bg-primary d-flex align-items-center py-5 py-lg-7">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6 class="display-5 font-weight-normal text-white mb-3">Changelog</h6>
                    <p class="lead text-light mb-3 mb-lg-7">Description about recent modifications and list of modified files what need to <br>be replaced with current version. Gameforest is up to date with bootstrap 4 framework.</p>
                </div>
            </div>
        </div>
        <div class="divider" ya-svg="divider"></div>
    </section>

    <section class="py-lg-5">
        <div class="container">
            {% extends '../../docs/src/twig/changelog.twig' %}
            {% for changelog in docs.changelog %}
                <div class="mb-5">
                    <div class="d-flex align-items-center mb-3">
                        <span>{{ changelog.version }} -</span>
                        <i class="ya ya-calendar mr-2 ml-1 mb-1"></i> {{ changelog.date }}
                    </div>

                    {% for log in changelog.list %}
                        {% if log.badge == 'Fixed' %}{% set badge = 'success' %}{% endif %}
                        {% if log.badge == 'Changed' %}{% set badge = 'warning' %}{% endif %}
                        {% if log.badge == 'Updated' %}{% set badge = 'primary' %}{% endif %}
                        {% if log.badge == 'Removed' %}{% set badge = 'danger' %}{% endif %}

                        <div class="card shadow-none mb-2">
                            <div class="card-body py-2">
                                {% if log.badge %}
                                    <div class="d-inline-block" style="width: 90px">
                                        <span class="d-inline-block badge badge-{{ badge }}" style="padding: 5px 8px;">{{ log.badge }}</span>
                                    </div>
                                {% endif %}
                                {{ log.desc }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
