{% extends "base.twig" %}

{% block body %}
    <nav class="bg-purple pt-1" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Components</li>
            </ol>
        </div>
    </nav>

    <section class="bg-purple d-flex align-items-center py-6">
        <div class="container">
            <div class="row">
                <div class="col mb-5">
                    <h6 class="display-6 font-weight-bold text-white mb-3">Bootstrap components</h6>
                    <p class="text-light">Find out what's included in your Bootstrap theme and how to compile source files. Includes live <br>examples and code snippets for every new component.</p>
                </div>
            </div>
        </div>
        <div class="shape" ya-svg="divider"></div>
    </section>

    {% for nav in docs[1] %}
        {% for component in nav %}
            {% extends '../docs/twig/' ~ component.title|lower|replace({' ': "-"}) ~ '.twig' %}
            <section id="{{ page.title|lower|replace({' ': "-", ':': "", '.': ""}) }}" class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5 class="h4">{{ page.title }}</h5>
                            <p>{{ page.text }}</p>
                            {% if (component.card) %}
                                <div class="mt-4 pt-1">
                                    {% for blocks in page.blocks %}
                                        <div class="card card-docs bg-light card-default mb-0 mt-3">
                                            <div class="card-body p-4">
                                                <h6 class="text-muted mb-2 pb-1">{{ blocks.title }}</h6>
                                                <div class="example">
                                                    {{ blocks.code }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {% for blocks in page.blocks %}
                                    <h5 class="mt-5 mb-4">{{ blocks.title }}</h5>
                                    <div class="example">
                                        {{ blocks.code }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% endfor %}
{% endblock %}
