{% extends "base.twig" %}

{% block body %}
    <section class="bg-primary text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Card Component</h2>
                </div>
            </div>
        </div>
    </section>

    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cards</li>
            </ol>
        </div>
    </nav>

    <section class="py-5">
        <div class="container">
            <div class="row">
                {% for game in games %}
                    {% if loop.index == 1 %}
                        <div class="col-4">
                            <div class="card card-game mb-4">
                                <a class="card-img" href="game-post.html">
                                    {% if game.new %}
                                        <span class="badge badge-danger">new</span>
                                    {% endif %}
                                    <img class="card-img-top" src="https://img.youtube.com/vi/{{ game.img }}/maxresdefault.jpg" alt="{{ game.title }}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {% if game.released %}
                                            <i class="ya ya-check-circle text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available"></i>
                                        {% endif %}
                                        <a href="game-post.html">{{ game.title }}</a>
                                    </h5>
                                    <p class="card-text">{{ game.text|slice(0, 120) }}...</p>
                                    <div class="btn-group">
                                        {% for plat in game.platforms %}
                                            {% for platform in platforms %}
                                                {% if loop.index == plat %}
                                                    <a class="btn btn-default btn-xs" href="#">{{ platform.title }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span><i class="ya ya-calendar"></i> {{ game.date|date("M d, Y") }}</span>
                                    <div class="ml-auto">
                                        <a href="#"><i class="ya ya-comment"></i> {{ game.comments }}</a>
                                        <a href="#"><i class="ya ya-heart-o"></i> {{ game.like }}</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end .card-game -->
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="col-4">
                    <div class="card card-post">
                        <a class="card-img" href="blog-post-video.html">
                            <img class="card-img-top" src="https://img.youtube.com/vi/SG4hoev5uaI/maxresdefault.jpg" alt="">
                        </a>
                        <div class="card-body">
                            <h6 class="card-title"><a href="blog-post-video.html">New Red Dead Redemption 2 Character Art Appears As Massive Billboards</a></h6>
                            <div class="card-meta">
                                <span class="card-meta-item"><i class="ya ya-calendar"></i> Sep 10, 2018</span>
                                <a class="card-meta-item" href="blog-post-video.html"><i class="ya ya-comment"></i> 49 comments</a>
                            </div>
                            <p class="card-text">Ever man are put down his very. And marry may table him avoid. Hard sell it were into it upon. He forbade...</p>
                        </div>
                    </div>
                    <!-- end .card-post -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
