{% extends "base.twig" %}

{% set page = {
    navbar: 'fluid',
    class: 'fixed-nav-bottom'
} %}

{% block js %}
    <script src="../docs/plugins/holder/holder.min.js"></script>
    <script>
        $(function() {
            $('.nav-link').on('click', function (event) {
                var target = $(this.getAttribute('href'));
                var num = 500;

                if (target.length) {
                    event.preventDefault();
                    $('html, body').stop().animate({
                        scrollTop: target.offset().top
                    }, num);
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <nav class="bg-purple pt-1" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bootstrap</li>
            </ol>
        </div>
    </nav>

    <section class="bg-purple d-flex align-items-center py-8">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6 class="display-6 font-weight-bold text-white mb-3">Bootstrap components</h6>
                    <p class="lead text-white opacity-8 mb-7">Built in components for the most popular front-end framework with <br>examples and code snippets for every new component.</p>
                </div>
            </div>
        </div>
        <div class="divider" ya-svg="divider"></div>
    </section>

    {% for nav in nav[1] %}
        {% for component in nav %}
            {% extends '../docs/twig/' ~ component.title|lower|replace({' ': "-"}) ~ '.twig' %}

            {% if (docs) and (component.preview != false) %}
                <section class="{{ loop.first ? 'pt-6 pb-5' : 'py-5' }}">
                    <div id="{{ component.title|lower|replace({' ': "-", ':': "", '.': ""}) }}" class="container anchor">
                        <div class="row">
                            <div class="col">
                                <h5 class="h3">{{ docs.title }}</h5>
                                <p class="mb-4 pb-3">{{ docs.text }}</p>
                                {% if custom %}
                                    {{ custom }}
                                {% else %}
                                    {% for blocks in docs.blocks %}
                                        {% if (blocks.table is empty) and (blocks.code) %}
                                            <div class="example{% if loop.index != 1 %} mt-5{% endif %}">
                                                {{ blocks.code }}
                                                {{ blocks.custom }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>

                {% if loop.last %}
                {% else %}
                    <section>
                        <div class="container">
                            <div class="border-bottom-dashed"></div>
                        </div>
                    </section>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    <div class="nav-bottom">
        <ul class="nav flex-column sticky">
            {% for nav in nav[1] %}
                {% for component in nav %}
                    {% if component.preview != false %}
                        <li class="nav-item">
                            <a class="nav-link" href="#{{ component.title|lower|replace({' ': "-", ':': "", '.': ""}) }}">{{ component.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <li class="nav-item float-right">
                <a class="nav-link" href="#">Changelog <span class="badge badge-purple">5.0</span></a>
            </li>
            <li class="nav-item float-right">
                <a class="nav-link" href="#">Documentation</a>
            </li>
        </ul>
    </div>
{% endblock %}
