{% extends "base.twig" %}

{% block css %}
    <link rel="stylesheet" href="plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="plugins/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="plugins/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="plugins/morris/morris.css">
{% endblock %}

{% block js %}
    <script src="plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="plugins/flatpickr/flatpickr.min.js"></script>
    <script src="plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="plugins/ckeditor/ckeditor.js"></script>
    <script src="plugins/raphael/raphael.min.js"></script>
    <script src="plugins/morris/morris.min.js"></script>
    <script>
        $(function() {
            $('#table_id').DataTable();

            $(".datepicker").flatpickr({allowInput:true});
            $(".datetimepicker").flatpickr({allowInput:true,enableTime: true, dateFormat: "Y-m-d H:i"});
            $(".inlinepicker").flatpickr({allowInput:true,inline: true});
            $(".timepicker").flatpickr({allowInput:true,enableTime: true, noCalendar: true, dateFormat: "H:i"});
            $(".custompicker").flatpickr({allowInput:true, wrap: true});

            $('.selectpicker').selectpicker();

            ClassicEditor.create( document.querySelector( '#editor' ));

            var area = new Morris.Line({
                element: 'morris-line-chart',
                resize: true,
                data: [
                    { y: '2011', a: 30, b: 13 },
                    { y: '2012', a: 75, b: 45 },
                    { y: '2013', a: 50, b: 40 },
                    { y: '2014', a: 75, b: 63 },
                    { y: '2015', a: 50, b: 40 },
                    { y: '2016', a: 75, b: 65 },
                    { y: '2017', a: 100, b: 30 }
                ],
                pointSize: 6,
                xkey: 'y',
                ykeys: ['a', 'b'],
                labels: ['Item 1', 'Item 2'],
                lineColors: ['#2575dc', '#7fad4a'],
                hideHover: 'auto'
            });

            var bar = new Morris.Bar({
                element: 'morris-bar-chart',
                resize: true,
                data: [
                    {y: '2008', a: 100, b: 90},
                    {y: '2009', a: 73, b: 45},
                    {y: '2010', a: 55, b: 42},
                    {y: '2010', a: 75, b: 65},
                    {y: '2011', a: 20, b: 40},
                    {y: '2013', a: 75, b: 65},
                    {y: '2014', a: 100, b: 90}
                ],
                barColors: ['#7fad4a', '#e45454'],
                xkey: 'y',
                ykeys: ['a', 'b'],
                labels: ['CPU', 'DISK'],
                hideHover: 'auto'
            });

            var area = new Morris.Area({
                element: 'morris-area-chart',
                resize: true,
                data: [
                    {y: '2011 Q1', item1: 2666, item2: 2666},
                    {y: '2011 Q2', item1: 2778, item2: 2294},
                    {y: '2011 Q3', item1: 4912, item2: 1969},
                    {y: '2011 Q4', item1: 3767, item2: 3597},
                    {y: '2012 Q1', item1: 6810, item2: 1914},
                    {y: '2012 Q2', item1: 5670, item2: 4293},
                    {y: '2012 Q3', item1: 4820, item2: 3795},
                    {y: '2012 Q4', item1: 15073, item2: 5967},
                    {y: '2013 Q1', item1: 10687, item2: 4460},
                    {y: '2013 Q2', item1: 8432, item2: 5713}
                ],
                xkey: 'y',
                ykeys: ['item1', 'item2'],
                labels: ['Item 1', 'Item 2'],
                lineColors: ['#2575dc', '#7fad4a'],
                hideHover: 'auto'
            });

            var donut = new Morris.Donut({
                element: 'morris-donut-chart',
                resize: true,
                colors: ['#e45454', '#2575dc', '#7fad4a'],
                data: [
                    {label: 'Download Sales', value: 12},
                    {label: 'In-Store Sales', value: 30},
                    {label: 'Mail-Order Sales', value: 20}
                ],
                hideHover: 'auto'
            })

            $('.nav-link').on('click', function (event) {
                var target = $(this.getAttribute('href'));
                var num = 500;

                if (target.length) {
                    event.preventDefault();
                    $('html, body').stop().animate({
                        scrollTop: target.offset().top
                    }, num);
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <nav class="bg-primary pt-1" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Components</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gameforest</li>
            </ol>
        </div>
    </nav>

    <section class="bg-primary d-flex align-items-center py-8">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6 class="display-6 font-weight-bold text-white mb-3">Gameforest components</h6>
                    <p class="lead text-light mb-7">Find out what's included in your Bootstrap theme and how to compile source files. Includes live <br>examples and code snippets for every new component.</p>
                </div>
            </div>
        </div>
        <div class="divider" ya-svg="divider"></div>
    </section>

    {% for nav in nav[2] %}
        {% for component in nav %}
            {% extends '../docs/twig/' ~ component.title|lower|replace({' ': "-"}) ~ '.twig' %}

            {% if (docs) and (component.preview != false) %}
                <section class="{{ loop.first ? 'pt-6 pb-5' : 'py-5' }}">
                    <div id="{{ component.title|lower|replace({' ': "-", ':': "", '.': ""}) }}" class="container anchor">
                        <div class="row">
                            <div class="col">
                                <h5 class="h3">{{ docs.title }}</h5>
                                <p class="mb-4 pb-3">{{ docs.text }}</p>
                                    {% if custom %}
                                        {{ custom }}
                                    {% else %}
                                        {% for blocks in docs.blocks %}
                                            {% if (blocks.table is empty) and (blocks.code) %}
                                                <div class="example{% if loop.index != 1 %} mt-5{% endif %}">
                                                    {{ blocks.code }}
                                                    {{ blocks.custom }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                {% if loop.last %}
                {% else %}
                    <section>
                        <div class="container">
                            <div class="border-bottom-dashed"></div>
                        </div>
                    </section>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    <div class="nav-bottom">
        <ul class="nav flex-column sticky">
            {% for nav in nav[2] %}
                {% for component in nav %}
                    {% if component.preview != false %}
                        <li class="nav-item">
                            <a class="nav-link" href="#{{ component.title|lower|replace({' ': "-", ':': "", '.': ""}) }}">{{ component.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link" href="#">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Changelog <span class="badge badge-purple">5.0</span></a>
            </li>
        </ul>
    </div>
{% endblock %}
