{% extends "base.twig" %}

{% block body %}
    <section class="bg-image bg-dark py-8 px-4 px-lg-0" ya-style="background-color: #454648">
        <img class="background" src="https://static.giantbomb.com/uploads/original/0/1992/3070043-god+of+war_20180421113217.png" alt="">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="h1 font-weight-bold text-white mb-2">Questions &amp; Answers</h2>
                    <p class="text-light">Improve ashamed married expense bed her comfort pursuit four time took ye your as.</p>
                    <form class="mt-4 mb-lg-7 pt-2 w-75" action="search.html">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg form-control-inline border-0 shadow-none" placeholder="Search for answer...">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-light btn-lg px-3 border-0"><i class="ya ya-search m-0"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="divider" ya-svg="divider"></div>
    </section>

    <section class="pt-4 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 order-lg-1">
                    <div class="widget widget-secondary">
                        <div class="widget-header">Faq</div>
                        <div class="widget-body p-0">
                            <div class="list-group list-group-lg list-group-flush">
                                <a class="list-group-item" href="#"><i class="ya ya-content"></i> Introduction</a>
                                <a class="list-group-item active" href="#"><i class="ya ya-gear"></i> Account Settings <span class="badge badge-secondary badge-pill">25</span></a>
                                <a class="list-group-item" href="#"><i class="ya ya-users"></i> Subscriptions</a>
                                <a class="list-group-item" href="#"><i class="ya ya-credit-card"></i> Payment Methods</a>
                            </div>
                        </div>
                    </div>
                    <!-- end .widget -->
                </div>
                <div class="col-lg-9 order-1 order-lg-2 pl-lg-4">
                    {% for faq in faq %}
                        {% set index = loop.index %}
                        <div id="{{ faq.category|lower|replace({' ': "-", ':': "", '.': ""}) }}" class="accordion mb-4">
                            <div class="accordion-header">{{ faq.category }}</div>
                            {% for item in faq.answer %}
                                <div class="accordion-item">
                                    <a class="accordion-link{% if (index == 1) and (loop.index == 1) %}{% else %} collapsed{% endif %}" href="#collapse{{ faq.category|lower|replace({' ': "-", ':': "", '.': ""}) ~ loop.index }}" data-toggle="collapse" aria-expanded="{% if (index == 1) and (loop.index == 1) %}true{% else %}false{% endif %}" data-target="#collapse{{ faq.category|lower|replace({' ': "-", ':': "", '.': ""}) ~ loop.index }}" aria-controls="collapse{{ faq.category|lower|replace({' ': "-", ':': "", '.': ""}) ~ loop.index }}">{{ item.title }}</a>
                                    <div class="collapse{% if (index == 1) and (loop.index == 1) %} show{% endif %}" id="collapse{{ faq.category|lower|replace({' ': "-", ':': "", '.': ""}) ~ loop.index }}">
                                        <p class="accordion-text">{{ item.text }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- end list-group -->
                        {% if loop.index == 1 %}
                            <div class="alert alert-primary mb-4">
                                <i class="ya ya-user-add mr-1"></i> Join to our <a class="alert-link" href="register.html">community</a>, submit feature requests and feedbacks!
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
