{% extends "base.twig" %}

{% block body %}
    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Faq</li>
            </ol>
        </div>
    </nav>

    <section class="py-6">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto text-center mb-5">
                    <i class="ya ya-question icon"></i>
                    <h2 class="display-6 mb-3">Questions &amp; Answers</h2>
                    <p>Resolution possession discovered surrounded advantages has but few add. Yet walls <br>times spoil put be it reserved contempt rendered smallest.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="widget widget-secondary">
                        <div class="widget-header">Faq</div>
                        <div class="widget-body p-0">
                            <div class="list-group list-group-lg list-group-flush">
                                <a class="list-group-item" href="#"><i class="ya ya-content"></i> Introduction</a>
                                <a class="list-group-item active" href="#"><i class="ya ya-gear"></i> Account Settings <span class="badge badge-secondary badge-pill">25</span></a>
                                <a class="list-group-item" href="#"><i class="ya ya-users"></i> Subscriptions</a>
                                <a class="list-group-item" href="#"><i class="ya ya-credit-card"></i> Payment Methods</a>
                            </div>
                        </div>
                    </div>
                    <!-- end .widget -->
                </div>
                <div class="col-9 pl-4">
                    {% for  faq in faq %}
                        {% set index = loop.index %}
                        {% for title, items in faq %}
                            <div class="accordion accordion-transparent mb-4" id="{{ title|lower }}">
                                <h5 class="h3">{{ title }}</h5>
                                <hr class="my-3">
                                {% for item in items %}
                                    <div class="accordion-item">
                                        <a class="accordion-link{% if (index == 1) and (loop.index == 1) %}{% else %} collapsed{% endif %}" href="#collapse{{ title ~ loop.index }}" data-toggle="collapse" aria-expanded="{% if (index == 1) and (loop.index == 1) %}true{% else %}false{% endif %}" data-target="#collapse{{ title ~ loop.index }}" aria-controls="collapse{{ title ~ loop.index }}">{{ item.title }}</a>
                                        <div class="collapse{% if (index == 1) and (loop.index == 1) %} show{% endif %}" id="collapse{{ title ~ loop.index }}">
                                            <p class="accordion-text">{{ item.text }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <!-- end list-group -->
                        {% if loop.index == 1 %}
                            <div class="alert alert-primary mb-5">
                                <i class="ya ya-user-add mr-1"></i> Join to our <a class="alert-link" href="register.html">community</a>, submit feature requests and feedbacks!
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}
