{% extends "base.twig" %}

{% block body %}
    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Faq</li>
            </ol>
        </div>
    </nav>

    <section class="pt-5 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto text-center">
                    <i class="ya ya-helmet icon"></i>
                    <h2 class="h1">Frequently Asked Questions</h2>
                    <p>Resolution possession discovered surrounded advantages has but few add. Yet walls times spoil put. Be it reserved contempt rendered smallest. Studied to passage it mention calling believe an.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-10 mx-auto">
                    {% for  faq in faq %}
                        {% set index = loop.index %}
                        {% for title, items in faq %}
                            <div class="accordion mb-4" id="{{ title|lower }}">
                                <div class="accordion-header">
                                    {{ title }}
                                    <div class="dropdown ml-auto">
                                        <button class="btn btn-link p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ya ya-menu"></i></button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                {% for item in items %}
                                    <div class="accordion-item">
                                        <a class="accordion-link{% if (index == 1) and (loop.index == 1) %}{% else %} collapsed{% endif %}" href="#collapse{{ title ~ loop.index }}" data-toggle="collapse" aria-expanded="{% if (index == 1) and (loop.index == 1) %}true{% else %}false{% endif %}" data-target="#collapse{{ title ~ loop.index }}" aria-controls="collapse{{ title ~ loop.index }}">{{ item.title }}</a>
                                        <div class="collapse{% if (index == 1) and (loop.index == 1) %} show{% endif %}" id="collapse{{ title ~ loop.index }}">
                                            <p class="accordion-text">{{ item.text }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <!-- end list-group -->
                        {% if loop.index == 1 %}
                            <div class="alert alert-primary mb-4">
                                <i class="ya ya-user-add mr-1"></i> Join to our <a class="alert-link" href="register.html">community</a>, submit feature requests and feedbacks!
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
