{% extends "base.twig" %}

{% block css %}
    <link rel="stylesheet" href="plugins/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="plugins/fontawesome/css/fa-solid.css">
    <link rel="stylesheet" href="plugins/fontawesome/css/fa-brands.css">
{% endblock %}

{% block body %}
    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="forums.html">Forums</a></li>
                <li class="breadcrumb-item active" aria-current="page">Topic</li>
            </ol>
        </div>
    </nav>

    <section class="border-bottom-dashed">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="heading heading-sm d-flex">
                        <div>
                            <h2 class="heading-title h4">Forum Topic</h2>
                            <p class="heading-text">Instrument cultivated alteration any favourable expression law far nor.</p>
                        </div>
                        <div class="ml-auto">
                            <a class="btn btn-primary" href="forum-add.html" role="button">Add topic</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex align-items-center mb-4">
                        <form class="form-inline mr-auto">
                            <span class="font-weight-semibold mr-3">Filter:</span>
                            <div class="input-group">
                                <input type="text" class="form-control form-control-inline" placeholder="Search in topic...">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-light border-left-0"><i class="ya ya-search m-0"></i></button>
                                </div>
                            </div>
                        </form>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination mb-0">
                                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item gap"><span class="page-link">...</span></li>
                                <li class="page-item"><a class="page-link" href="#">25</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- end .d-flex -->

                    <table class="table table-bordered table-dashed mb-4">
                        <thead>
                            <tr>
                                <th style="width: 6%;" scope="col"></th>
                                <th scope="col">Topic</th>
                                <th class="text-center" style="width: 5%" scope="col">Replies</th>
                                <th class="text-center" style="width: 5%" scope="col">Views</th>
                                <th style="width: 18%" scope="col">Latest Post</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for topic in topics %}
                                <tr{% if forum.locked %} class="table-locked"{% endif %}>
                                    <td class="py-0 px-2">
                                        {% for user in users %}
                                            {% if loop.index == topic.author %}
                                                <div class="avatar-badge avatar-sm">
                                                    <img src="img/{{ user.img }}" alt="">
                                                    {% if user.status %}<span class="badge badge-{{ user.status }}"></span>{% endif %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% if forum.badge %}
                                            <span class="badge badge-{{ forum.badge.color }}">{{ forum.badge.title }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <h6 class="table-title"><a href="forum-post.html">{{ topic.title }}</a></h6>
                                        <p class="table-text">
                                            {% for user in users %}
                                                {% if loop.index == topic.author %}
                                                    by <a href="profile.html">{{ user.name }}</a> on {{ topic.date|date(config.dateformat) }}
                                                {% endif %}
                                            {% endfor %}
                                        </p>
                                    </td>
                                    <td class="text-center">{{ topic.replies }}</td>
                                    <td class="text-center">{{ topic.views }}</td>
                                    <td>
                                        {% for user in users %}
                                            {% if loop.index == topic.author %}
                                                <a class="table-subtitle" href="profile.html">{{ user.name }}</a>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="table-meta">{{ topic.date|date("G") }} hours ago</div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Topic</th>
                                <th class="text-center"scope="col">Replies</th>
                                <th class="text-center" scope="col">Views</th>
                                <th scope="col">Latest Post</th>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- end .table -->

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item gap"><span class="page-link">...</span></li>
                            <li class="page-item"><a class="page-link" href="#">25</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
