{% extends "base.twig" %}

{% block js %}
    <script src="plugins/parallax/parallax.min.js"></script>
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-11 mx-auto py-8 overflow-hidden" data-parallax="scroll" data-image-src="https://static.giantbomb.com/uploads/original/0/2840/2495885-the-division_2013_06-10-13_001.jpg">
                    <div class="overlay" ya-style="background-color: #36373a;opacity: .75"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col">
                                <h1 class="display-6 font-weight-bold text-white text-underline mb-3">Earn The Division 2 Rewards By Playing The First Game Now</h1>
                                <p class="text-light">Ubisoft is preparing to launch The Division 2, even as the original The Division still enjoys a relatively active player base thanks <br>to a steady stream of content updates and quality-of-life tweaks.</p>
                                <div class="mt-4 pt-2">
                                    <a class="btn btn-primary btn-shadow btn-rounded btn-lg" href="blog-post.html" role="button">Read More</a>
                                    <a class="btn btn-outline-light btn-rounded btn-lg ml-2" href="blog.html" role="button">More Blogs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="d-flex mb-4">
                        <div class="dropdown mr-2">
                            <button class="btn btn-light btn-icon-left dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ya ya-tag"></i> All categories
                            </button>
                            <div class="dropdown-menu dropdown-height">
                                <a class="dropdown-item active" href="#">All categories</a>
                                {% for cat in categories %}
                                    <a class="dropdown-item" href="#">{{ cat.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="dropdown mr-auto">
                            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Recent posts
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item active" href="#">Recent</a>
                                <a class="dropdown-item" href="#">Oldest</a>
                                <a class="dropdown-item" href="#">Popular</a>
                                <a class="dropdown-item" href="#">Most Comments</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-light btn-icon-left dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Descending
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item active" href="#">Descending</a>
                                <a class="dropdown-item" href="#">Ascending</a>
                                <a class="dropdown-item" href="#">Random</a>
                            </div>
                        </div>
                        <div class="btn-group ml-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light"><i class="ya ya-list m-0"></i></button>
                            <button type="button" class="btn btn-light"><i class="ya ya-table m-0"></i></button>
                        </div>
                    </div>
                    {% for blog in blogs %}
                        <div class="post">
                            <div class="post-thumbnail">
                                {% if blog.carousel %}
                                    <div class="owl-carousel" ya-carousel>
                                        {% for carousel in blog.carousel %}
                                            <img src="{{ carousel }}" alt="{{ blog.title }}">
                                        {% endfor %}
                                    </div>
                                {% elseif blog.video %}
                                    <div ya-embed="{{ blog.video.src }}">
                                        <img class="embed-responsive-item" src="{{ blog.video.img }}" alt="{{ blog.title }}">
                                    </div>
                                {% else %}
                                    <img class="post-img" src="{{ blog.img }}" alt="{{ blog.title }}">
                                {% endif %}
                            </div>
                            <div class="post-body">
                                <h2 class="post-title"><a href="{{ blog.url }}">{{ blog.title }}</a></h2>
                                <div class="post-meta">
                                    <span class="post-meta-item"><i class="ya ya-calendar"></i> {{ blog.meta.date|date(config.dateformat) }}</span>
                                    <a class="post-meta-item" href="{{ blog.url }}"><i class="ya ya-comment"></i> {{ blog.meta.comments }} comments</a>
                                    <span class="post-meta-item"><i class="ya ya-clock"></i> {{ blog.meta.time }} min read</span>
                                </div>
                                <p>{{ blog.text }}</p>
                            </div>
                        </div>
                        <!-- end .post -->
                    {% endfor %}
                    <nav>
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item gap"><span class="page-link">...</span></li>
                            <li class="page-item"><a class="page-link" href="#">25</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                    <!-- end pagination -->
                </div>
                <div class="col-md-3">
                    <div class="widget">
                        <form action="search.html">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for blog...">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-light border-left-0"><i class="ya ya-search m-0"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end widget -->

                    <div class="widget">
                        <div class="widget-header">Recommends</div>
                        {% for blog in blogs %}
                            {% if loop.index == 1 %}
                                <a class="img-cover img-sm mb-3" href="{{ blog.url }}">
                                    <img src="{{ blog.thumb }}" alt="">
                                </a>
                                <div class="widget-body">
                                    <h5 class="h6"><a href="{{ blog.url }}">{{ blog.title }}</a></h5>
                                    <div class="font-size-md font-weight-semibold text-muted mb-2"><i class="ya ya-calendar mr-1"></i> {{ blog.meta.date|date(config.dateformat) }}</div>
                                    <p>{{ blog.text|slice(0, 120) }}...</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- end widget -->

                    <div class="widget widget-secondary">
                        <div class="widget-header border-0">Categories</div>
                        <div class="list-group list-group-flush">
                            {% for cat in categories %}
                                <a class="list-group-item{% if loop.index == 2 %} active{% endif %}" href="#">{{ cat.title }}{% if cat.posts %} <span class="badge badge-secondary badge-pill">{{ cat.posts }}</span>{% endif %}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- end widget -->

                    <div class="widget mb-0">
                        <div class="widget-header">Popular on Gameforest</div>
                        {% for blog in blogs %}
                            {% if loop.index == 4 %}
                                <a class="img-cover img-sm mb-3" href="{{ blog.url }}">
                                    <img src="{{ blog.thumb }}" alt="">
                                </a>
                                <div class="widget-body">
                                    <h5 class="h6"><a href="{{ blog.url }}">{{ blog.title }}</a></h5>
                                    <div class="font-size-md font-weight-semibold text-muted mb-2"><i class="ya ya-calendar mr-1"></i> {{ blog.meta.date|date(config.dateformat) }}</div>
                                    <p class="mb-2">{{ blog.text|slice(0, 120) }}...</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- end widget -->

                    <div class="widget widget-list">
                        {% for blog in blogs %}
                            <div class="media">
                                    <a class="img-cover" href="#">
                                        <img src="{{ blog.thumb }}" alt="">
                                    </a>
                                <div class="media-body">
                                    <h6><a href="#" title="{{ blog.title }}">{{ blog.title|slice(0, 40) }}...</a></h6>
                                    <div class="font-size-sm font-weight-semibold text-muted">{{ blog.meta.date|date(config.dateformat) }}</div>
                                </div>
                            </div>
                        {% endfor %}
                        <a class="btn btn-outline btn-block btn-sm mt-2" href="#" role="button">Load More</a>
                    </div>
                    <!-- end widget -->

                    <div class="widget widget-tags">
                        <div class="widget-header">Popular Tags</div>
                        <div class="tags">
                            <a href="#">#playstation4</a>
                            <a href="#">#anthem</a>
                            <a href="#">#fps</a>
                            <a href="#">#upcoming</a>
                            <a href="#">#gameforest</a>
                            <a href="#">#xbox</a>
                            <a href="#">#gameplay</a>
                            <a href="#">#red-dead</a>
                        </div>
                    </div>
                    <!-- end widget -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
