{% extends "base.twig" %}

{% block js %}
    <script src="plugins/lazysizes/lazysizes.min.js"></script>
    <script src="plugins/parallax/parallax.min.js"></script>
{% endblock %}

{% block body %}
    <section class="bg-primary py-3">
        <div class="container">
            <div class="promo py-0">
                <h2 class="promo-title h6">New games are available in the store don't forget to check it!</h2>
                <a class="btn btn-outline-light btn-sm ml-4 mt-3 mt-md-0" href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank" role="button">Visit store <i class="ya ya-share"></i></a>
            </div>
        </div>
    </section>

    <section class="bg-darken p-1">
        <div class="container-fluid px-0">
            <div class="owl-carousel" ya-carousel="autowidth: true;dots: false;margin: 4;items: 2">
                {% for carousel in carousel.games %}
                    <div class="owl-img owl-img-games lazyload">
                        <img class="lazyload" data-src="{{ carousel.img }}" alt="">
                        <div class="owl-caption owl-caption-bottom">
                            <h1 class="owl-title bg-darken text-white"><a href="game-post.html">{{ carousel.title }}</a></h1>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="py-5 py-md-6">
        <div class="container">
            <div class="row">
                <div class="col-11 col-md-8 text-center mx-auto mb-4">
                    <i class="ya ya-ranking icon"></i>
                    <h2 class="font-size-lg">Upcoming new games</h2>
                    <p class="lead">Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry.</p>
                </div>
            </div>
            <div class="row">
                {% for game in games %}
                    {% if loop.index < 4 %}
                        <div class="col-md-4">
                            <div class="card card-sm">
                                <a class="card-img card-img-lg" href="game-post.html">
                                    {% if game.new %}
                                        <span class="badge badge-danger">new</span>
                                    {% endif %}
                                    <img class="card-img-top" src="{{ game.thumb }}" alt="{{ game.title }}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {% if game.released %}
                                            <i class="ya ya-check-circle text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available"></i>
                                        {% endif %}
                                        <a href="game-post.html">{{ game.title }}</a>
                                    </h5>
                                    <p class="card-tex font-size-md mb-0">{{ game.text|slice(0, 120) }}...</p>
                                </div>
                                <div class="card-footer">
                                    <span><i class="ya ya-calendar"></i> {{ game.date|date(config.dateformat) }}</span>
                                    <div class="ml-auto">
                                        <a href="#"><i class="ya ya-comment"></i> {{ game.comments }}</a>
                                        <a class="ml-1" href="#"><i class="ya ya-heart-o"></i> {{ game.like }}</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end .card -->
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="text-center">
                <a class="btn btn-secondary btn-lg mt-3" href="games.html" role="button">More Games</a>
            </div>
        </div>
    </section>

    <section class="bg-white border-top border-bottom py-0 py-md-4">
        <div class="container-fluid">
            <div class="row justify-content-around align-items-center">
                <div class="col-lg-6 px-xs-0">
                    <div class="img-cover" style="min-height: 600px;">
                        <img src="https://static.giantbomb.com/uploads/original/2/22934/2759159-image_horizon_zero_dawn-28643-3283_0009.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-5 pl-md-5 pb-4 pb-md-0 mr-auto mt-4 mt-md-0 mb-2 mb-md-0">
                    <div class="px-2 px-md-0">
                        <h2 class="display-5 font-weight-normal text-dark mb-3">Horizon Zero Dawn</h2>
                        <p class="lead">Horizon Zero Dawn is an exhilarating action role playing game developed by the award winning Guerrilla Games, creators of PlayStation’s venerated Killzone franchise.</p>
                        <hr>
                        <p class="mb-4 pb-2">As Horizon Zero Dawn’s main protagonist Aloy, a skilled hunter, explore a vibrant and lush world inhabited by mysterious mechanized creatures. Embark on a compelling, emotional journey and unravel mysteries of tribal societies, ancient artifacts and advanced technologies that will determine the fate of this planet, and of life itself.</p>
                        <a class="btn btn-outline-primary btn-lg mr-1" href="game-post.html" role="button">View Game</a>
                        <a class="btn btn-dark btn-lg" href="#" role="button">Follow now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 py-md-6">
        <div class="container">
            <div class="row">
                <div class="col-11 col-md-8 text-center mx-auto mb-4">
                    <i class="ya ya-shopping-cart icon"></i>
                    <h2 class="font-size-lg">New games in the store</h2>
                    <p class="lead">May indulgence difficulty ham can put especially. Bringing remember for supplied her why was confined. Middleton principle did she procuring.</p>
                </div>
            </div>
            <div class="row row-md">
                {% for game in games %}
                    {% if loop.index < 5 %}
                        <div class="col-sm-6 col-md-4 col-lg-3 card-group">
                            <div class="card card-sm mb-4">
                                <a class="card-img card-img-md" href="shop-product.html">
                                    <img class="card-img-top" src="https://img.youtube.com/vi/{{ game.img }}/maxresdefault.jpg" alt="{{ game.title }}">
                                </a>
                                <div class="card-body d-flex align-items-start flex-column">
                                    <h5 class="card-title mb-auto">
                                        {% if game.released %}
                                            <i class="ya ya-check-circle text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available"></i>
                                        {% endif %}
                                        <a href="game-post.html">{{ game.title }}</a>
                                    </h5>
                                    <div class="star d-flex font-size-md mt-1 mr-2">
                                        {% for i in 0..4 %}
                                            <i class="ya ya-star {{ loop.index <= game.review ? 'text-warning' : 'text-muted' }}"></i>
                                        {% endfor %}
                                    </div>
                                    <ul class="list-unstyled font-size-sm mt-3">
                                        <li>Platform: {% for platform in platforms %}{{ loop.index == game.platforms[0] ? platform : '' }}{% endfor %}</li>
                                        <li>Genre: {{ genre[game.genre] }}</li>
                                        <li>Publisher: {{ publishers[game.publisher] }}</li>
                                    </ul>
                                    <ul class="d-flex list-unstyled mb-0">
                                        <li class="border-right mr-2 pr-2"><i class="ya ya-stock text-success mr-1"></i> in stock</li>
                                        <li><i class="ya ya-delivery text-success mr-1"></i> free delivery</li>
                                    </ul>
                                </div>
                                <div class="card-footer d-flex align-items-center">
                                    <div class="h3 font-weight-normal {{ game.price.discount ? 'text-danger' : 'text-dark' }} mb-0 mr-2">${{ game.price.original }}</div>
                                    <button type="button" class="btn btn-outline btn-sm ml-auto">Add to cart <i class="ya ya-shopping-cart"></i></button>
                                </div>
                            </div>
                            <!-- end .card -->
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="text-center mt-3">
                <a class="btn btn-secondary btn-lg" href="shop.html" role="button">View store</a>
            </div>
        </div>
    </section>

    <section class="text-white overflow-hidden py-5 py-lg-7 px-3 px-md-0" data-parallax="scroll" data-image-src="https://static.giantbomb.com/uploads/original/0/7772/3028605-nibellion_2018-jun-12+1.jpg">
        <div class="overlay" ya-style="background-color: #333235;opacity: .85"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <div class="text-center mb-4 mb-md-5">
                        <h1 class="font-weight-bold display-6 text-white mb-2">Subscribe for new Games</h1>
                        <p class="font-weight-light text-light">To sure calm much most long me mean. Able rent long in do we. Uncommonly no it announcing melancholy an in.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            <form class="row row-xs">
                                <div class="col-sm-4 form-group mb-2">
                                    <input type="text" class="form-control form-control-lg shadow-none border-0" placeholder="Enter username">
                                </div>
                                <div class="col-sm-4 form-group mb-3">
                                    <input type="email" class="form-control form-control-lg shadow-none border-0" placeholder="Enter email">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <button type="submit" class="btn btn-outline-light btn-lg btn-block">Sign up for Games</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <p class="text-center font-size-md font-weight-light text-light mt-3">Much evil soon high in hope do view. Out may few northward believing attempted.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary py-0">
        <div class="container">
            <div class="promo">
                <h2 class="promo-title h4">Build your professional gaming website with Gameforest</h2>
                <a class="btn btn-outline-light mt-4 mt-lg-0 ml-md-4" href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank" role="button">Purchase Now <i class="ya ya-shopping-cart"></i></a>
            </div>
        </div>
    </section>
{% endblock %}
