{% extends "base.twig" %}

{% block js %}
    <script src="plugins/lazysizes/lazysizes.min.js"></script>
{% endblock %}

{% block body %}
    <section class="bg-darken p-2">
        <div class="container-fluid px-0">
            <div class="owl-carousel" ya-carousel="autowidth: true;dots: false;loop: false;margin: 8;items: 2">
                {% for carousel in carousel.games %}
                    <div class="owl-img owl-img-md lazyload" style="width: 450px;">
                        <img class="lazyload" data-src="{{ carousel.img }}" alt="">
                        <div class="owl-caption owl-caption-bottom">
                            <h1 class="owl-title bg-darken text-white"><a href="game-post.html">{{ carousel.title }}</a></h1>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="py-5 py-md-6">
        <div class="container">
            <div class="row">
                <div class="col-11 col-md-8 text-center mx-auto mb-4">
                    <i class="ya ya-ranking icon"></i>
                    <h2 class="font-weight-bold font-size-lg">Recent Games at Gameforest</h2>
                    <p class="lead">Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry.</p>
                </div>
            </div>
            <div class="row">
                {% for game in games %}
                    {% if loop.index < 4 %}
                        <div class="col-md-4">
                            <div class="card card-sm">
                                <a class="card-img card-img-lg" href="game-post.html" style="height: 360px">
                                    {% if game.new %}
                                        <span class="badge badge-danger">new</span>
                                    {% endif %}
                                    <img class="card-img-top" src="{{ game.thumb }}" alt="{{ game.title }}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {% if game.released %}
                                            <i class="ya ya-check-circle text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available"></i>
                                        {% endif %}
                                        <a href="game-post.html">{{ game.title }}</a>
                                    </h5>
                                    <p class="card-tex font-size-md mb-0">{{ game.text|slice(0, 120) }}...</p>
                                </div>
                                <div class="card-footer">
                                    <span><i class="ya ya-calendar"></i> {{ game.date|date(config.dateformat) }}</span>
                                    <div class="ml-auto">
                                        <a href="#"><i class="ya ya-comment"></i> {{ game.comments }}</a>
                                        <a class="ml-1" href="#"><i class="ya ya-heart-o"></i> {{ game.like }}</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end .card -->
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="bg-primary py-0">
        <div class="container">
            <div class="promo">
                <h2 class="promo-title h4">Build your professional gaming website with Gameforest</h2>
                <a class="btn btn-outline-light mt-4 mt-lg-0 ml-md-4" href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank" role="button">Purchase Now <i class="ya ya-shopping-cart"></i></a>
            </div>
        </div>
    </section>
{% endblock %}
