{% extends "base.twig" %}

{% block js %}
    <script src="plugins/parallax/parallax.min.js"></script>
{% endblock %}

{% block body %}
    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Pricing</li>
            </ol>
        </div>
    </nav>

    <section class="py-lg-6">
        <div class="container">
            <div class="row">
                <div class="col-11 col-lg-10 mx-auto text-center mb-5">
                    <i class="ya ya-users icon"></i>
                    <h2 class="h1 mb-3">Join to gameforest community!</h2>
                    <p class="mb-0">Comfort produce husband boy her had hearing. Law others theirs passed but wishes you day <br>real less till dear read use dispatched.</p>
                </div>
            </div>
            <div class="row">
                {% for price in pricing %}
                    <div class="col-md-4">
                        <div class="card{% if loop.index != 2 %} card-default{% endif %} text-center mb-4 mb-md-0">
                            <div class="card-body pt-4 pb-3">
                                <h5 class="h6 text-uppercase text-muted">{{ price.title }}</h5>
                                <div class="display-3 font-weight-semibold{% if loop.index == 2 %} text-primary{% endif %} my-4">{{ price.price }}</div>
                                <span class="border-bottom-dashed pb-3 mb-4 d-inline-block">per user / month</span>
                                <ul class="list-unstyled">
                                    {% for list in price.plan %}
                                        <li class="font-weight-semibold font-size-md py-1"><i class="ya {% if list.access %}ya-check text-success{% else %}ya-times-circle text-danger{% endif %} mr-1"></i> {{ list.title }}</li>
                                    {% endfor %}
                                </ul>
                                <small class="text-muted">View fine me gone this name an rank.</small>
                                <button type="button" class="btn {% if loop.index == 2 %}btn-primary{% else %}btn-outline{% endif %} btn-block btn-lg mt-4">Sign up</button>
                            </div>
                        </div>
                        <!-- end .card -->
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col text-center">
                    <p class="mt-md-5 text-muted">Do you need extra space and more premium content? <a class="link" href="#">Sign up for one of our free plans</a> <br>for unlimited public and open source projects.</p>
                    <p class="text-muted mb-0">* Sold in packs of 10 users and billed annually.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="border-top py-6">
        <div class="container">
            <div class="row">
                <div class="col-11 col-lg-8 mx-auto text-center mb-5">
                    <i class="ya ya-question icon"></i>
                    <h2 class="h1 mb-3">Frequently asked questions</h2>
                    <p class="mb-0">Resolution possession discovered surrounded advantages has but few add. Yet walls times <br>spoil put be it reserved contempt rendered smallest.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11 mx-auto">
                    <div class="row">
                        {% for faq in faq[0]['answer'] %}
                            {% if loop.index < 7 %}
                                <div class="col-md-6 card-group">
                                    <div class="card mb-4">
                                        <div class="card-body p-4">
                                            <h6 class="card-title">{{ faq.title }}</h6>
                                            <hr class="my-3">
                                            <p class="card-text">{{ faq.text|slice(0, 160) }}...</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="text-center mt-2 mt-md-4">
                <a class="btn btn-outline btn-lg btn-wide" href="faq.html" role="button">Learn more</a>
            </div>
        </div>
    </section>

    <section class="py-5 py-lg-7 overflow-hidden" data-parallax="scroll" data-image-src="https://static.giantbomb.com/uploads/original/0/5370/2791736-7947254676-Star_.jpg">
        <div class="overlay" ya-style="background-color: #36373a;opacity: .95"></div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="display-4 text-white mb-5">Ready to get started?</h2>
                    <a class="btn btn-purple btn-lg" href="#" role="button">Contact Sales</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
