{% extends "base.twig" %}

{% set docs = {
    title: 'Input Groups',
    text: 'Easily extend form controls by adding text, buttons, or button groups on either side of textual inputs, custom selects, and custom file inputs.',
    bootstrap: 'components/input-group',
    blocks: [
        {
            title: 'Example',
            text: 'Place one add-on or button on either side of an input. You may also place one on both sides of an input.',
            code: '<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="ya ya-user"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username">
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Website" aria-label="Website">
    <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">.yakuthemes.com</span>
    </div>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">https://yakuthemes.com/</span>
    </div>
    <input type="text" class="form-control" id="basic-url" placeholder="username">
</div>',
        },
        {
            title: 'Sizing',
            text: 'Add the relative form sizing classes to the <code>.input-group</code> itself and contents within will automatically resize—no need for repeating the form control size classes on each element.',
            code: '<div class="row">
    <div class="input-group input-group-lg col">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input">
    </div>

    <div class="input-group mb-3 col">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input">
    </div>

    <div class="input-group input-group-sm mb-3 col">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input">
    </div>
</div>',
        },
        {
            title: 'Multiple addons',
            text: 'Multiple add-ons are supported and can be mixed with checkbox and radio input versions.',
            code: '<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">$</span>
        <span class="input-group-text">0.00</span>
    </div>
    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
</div>',
        },
        {
            title: 'Button addons',
            text: 'Add button to the input group and use it just like in the example below.',
            code: '<div class="input-group">
    <div class="input-group-prepend">
        <button class="btn btn-outline" type="button" id="button-addon1">Button</button>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon">
</div>',
        },
        {
            title: 'Icon addons',
            text: 'Add selected background with <code>.bg-*</code> class to the <code>.input-group-text</code> and remove border from <code>.form-control</code> to get this results like below.',
            code: '<div class="row">
    <div class="input-group col">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-light btn-icon border-right-0" data-toggle><i class="ya ya-user"></i></button>
        </div>
        <input type="text" class="form-control pl-2" placeholder="Enter username" aria-label="Example text with icon addon">
    </div>

    <div class="input-group col">
        <input type="password" class="form-control" placeholder="Enter password" aria-label="Example text with icon addon">
        <div class="input-group-append">
            <button type="button" class="btn btn-light btn-icon border-left-0" data-toggle><i class="ya ya-lock"></i></button>
        </div>
    </div>
</div>',
        }
    ]
} %}

{% set custom %}
    <div class="row">
        <div class="col">
            <div class="card card-default mb-4">
                <h6 class="card-header">{{ docs.blocks[0]['title'] }}</h6>
                <div class="card-body">
                    {{ docs.blocks[0]['code'] }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-default mb-4">
                <h6 class="card-header">{{ docs.blocks[1]['title'] }}</h6>
                <div class="card-body">
                    {{ docs.blocks[1]['code'] }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-default mb-4">
                <h6 class="card-header">{{ docs.blocks[2]['title'] }}</h6>
                <div class="card-body">
                    {{ docs.blocks[2]['code'] }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-default mb-4">
                <h6 class="card-header">{{ docs.blocks[3]['title'] }}</h6>
                <div class="card-body">
                    {{ docs.blocks[3]['code'] }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-default mb-0">
                <h6 class="card-header">{{ docs.blocks[4]['title'] }}</h6>
                <div class="card-body">
                    {{ docs.blocks[4]['code'] }}
                </div>
            </div>
        </div>
    </div>
{% endset %}
