{% extends "base.twig" %}

{% set docs = {
    title: 'Social',
    text: 'Use social buttons to display a button for login or register forms. It\' easy to use just copy to selected code from below.',
    blocks: [
        {
            title: 'Buttons',
            text: 'Add <code>.btn-social</code> class to the button with the choosen social platform name for more check the example below.',
            code: '<a class="btn btn-social btn-facebook" href="#" role="button">Facebook</a>
<a class="btn btn-social btn-twitter" href="#" role="button">Twitter</a>
<a class="btn btn-social btn-google-plus" href="#" role="button">Google Plus</a>
<a class="btn btn-social btn-youtube" href="#" role="button">Youtube</a>
<a class="btn btn-social btn-linkedin" href="#" role="button">Linkedin</a>
<a class="btn btn-social btn-skype" href="#" role="button">Skype</a>
<a class="btn btn-social btn-vk" href="#" role="button">vk</a>
<a class="btn btn-social btn-twitch" href="#" role="button">Twitch</a>
<a class="btn btn-social btn-steam" href="#" role="button">Steam</a>
<a class="btn btn-social btn-dribbble" href="#" role="button">Dribbble</a>
<a class="btn btn-social btn-vimeo" href="#" role="button">Vimeo</a>
<a class="btn btn-social btn-pinterest" href="#" role="button">Pinterest</a>
<a class="btn btn-social btn-instagram" href="#" role="button">Instagram</a>
<a class="btn btn-social btn-soundcloud" href="#" role="button">Soundcloud</a>
<a class="btn btn-social btn-spotify" href="#" role="button">Spotify</a>
<a class="btn btn-social btn-tumblr" href="#" role="button">Tumblr</a>
<a class="btn btn-social btn-reddit" href="#" role="button">Reddit</a>
<a class="btn btn-social btn-paypal" href="#" role="button">Paypal</a>
<a class="btn btn-social btn-wordpress" href="#" role="button">Wordpress</a>
<a class="btn btn-social btn-drupal" href="#" role="button">Drupal</a>
<a class="btn btn-social btn-joomla" href="#" role="button">Joomla</a>
<a class="btn btn-social btn-github" href="#" role="button">Github</a>
<a class="btn btn-social btn-slack" href="#" role="button">Slack</a>
<a class="btn btn-social btn-windows" href="#" role="button">Windows</a>
<a class="btn btn-social btn-linux" href="#" role="button">Linux</a>'
        },
        {
            title: 'Button Icons',
            text: 'We can use social icons in a button just add the selected icon with <code>i</code> attribute to the button. We used fontawesome social icons in this example below.',
            code: '<a class="btn btn-social btn-icon-left btn-facebook" href="#" role="button"><i class="fab fa-facebook-f"></i> Facebook</a>
<a class="btn btn-social btn-icon-left btn-twitter" href="#" role="button"><i class="fab fa-twitter"></i> Twitter</a>
<a class="btn btn-social btn-icon-left btn-google-plus" href="#" role="button"><i class="fab fa-google-plus-g"></i> Google Plus</a>
<a class="btn btn-social btn-icon-left btn-youtube" href="#" role="button"><i class="fab fa-youtube"></i> Youtube</a>
<a class="btn btn-social btn-icon-left btn-linkedin" href="#" role="button"><i class="fab fa-linkedin-in"></i> Linkedin</a>
<a class="btn btn-social btn-icon-left btn-skype" href="#" role="button"><i class="fab fa-skype"></i> Skype</a>
<a class="btn btn-social btn-icon-left btn-vk" href="#" role="button"><i class="fab fa-vk"></i> vk</a>
<a class="btn btn-social btn-icon-left btn-twitch" href="#" role="button"><i class="fab fa-twitch"></i> Twitch</a>
<a class="btn btn-social btn-icon-left btn-steam" href="#" role="button"><i class="fab fa-steam-symbol"></i> Steam</a>
<a class="btn btn-social btn-icon-left btn-discord" href="#" role="button"><i class="fab fa-discord"></i> Discord</a>
<a class="btn btn-social btn-icon-left btn-dribbble" href="#" role="button"><i class="fab fa-dribbble"></i> Dribbble</a>
<a class="btn btn-social btn-icon-left btn-vimeo" href="#" role="button"><i class="fab fa-vimeo-v"></i> Vimeo</a>
<a class="btn btn-social btn-icon-left btn-pinterest" href="#" role="button"><i class="fab fa-pinterest"></i> Pinterest</a>
<a class="btn btn-social btn-icon-left btn-instagram" href="#" role="button"><i class="fab fa-instagram"></i> Instagram</a>
<a class="btn btn-social btn-icon-left btn-soundcloud" href="#" role="button"><i class="fab fa-soundcloud"></i> Soundcloud</a>
<a class="btn btn-social btn-icon-left btn-spotify" href="#" role="button"><i class="fab fa-spotify"></i> Spotify</a>
<a class="btn btn-social btn-icon-left btn-tumblr" href="#" role="button"><i class="fab fa-tumblr"></i> Tumblr</a>
<a class="btn btn-social btn-icon-left btn-reddit" href="#" role="button"><i class="fab fa-reddit"></i> Reddit</a>
<a class="btn btn-social btn-icon-left btn-paypal" href="#" role="button"><i class="fab fa-paypal"></i> Paypal</a>
<a class="btn btn-social btn-icon-left btn-wordpress" href="#" role="button"><i class="fab fa-wordpress"></i> Wordpress</a>
<a class="btn btn-social btn-icon-left btn-drupal" href="#" role="button"><i class="fab fa-drupal"></i> Drupal</a>
<a class="btn btn-social btn-icon-left btn-joomla" href="#" role="button"><i class="fab fa-joomla"></i> Joomla</a>
<a class="btn btn-social btn-icon-left btn-github" href="#" role="button"><i class="fab fa-github"></i> Github</a>
<a class="btn btn-socia btn-icon-leftl btn-slack" href="#" role="button"><i class="fab fa-slack"></i> Slack</a>
<a class="btn btn-social btn-icon-left btn-windows" href="#" role="button"><i class="fab fa-windows"></i> Windows</a>
<a class="btn btn-social btn-icon-left btn-linux" href="#" role="button"><i class="fab fa-linux"></i> Linux</a>'
        },
        {
            title: 'Social Icons',
            text: 'It is also possible to use only social icons with the button by adding <code>.btn-icon</code> class to the button just like in the example below.',
            code: '<a class="btn btn-social btn-facebook btn-icon" href="#" role="button"><i class="fab fa-facebook-f"></i></a>
<a class="btn btn-social btn-twitter btn-icon" href="#" role="button"><i class="fab fa-twitter"></i></a>
<a class="btn btn-social btn-google-plus btn-icon" href="#" role="button"><i class="fab fa-google-plus-g"></i></a>
<a class="btn btn-social btn-youtube btn-icon" href="#" role="button"><i class="fab fa-youtube"></i></a>
<a class="btn btn-social btn-linkedin btn-icon" href="#" role="button"><i class="fab fa-linkedin-in"></i></a>
<a class="btn btn-social btn-skype btn-icon" href="#" role="button"><i class="fab fa-skype"></i></a>
<a class="btn btn-social btn-vk btn-icon" href="#" role="button"><i class="fab fa-vk"></i></a>
<a class="btn btn-social btn-twitch btn-icon" href="#" role="button"><i class="fab fa-twitch"></i></a>
<a class="btn btn-social btn-steam btn-icon" href="#" role="button"><i class="fab fa-steam-symbol"></i></a>
<a class="btn btn-social btn-dribbble btn-icon" href="#" role="button"><i class="fab fa-dribbble"></i></a>
<a class="btn btn-social btn-vimeo btn-icon" href="#" role="button"><i class="fab fa-vimeo-v"></i></a>
<a class="btn btn-social btn-pinterest btn-icon" href="#" role="button"><i class="fab fa-pinterest"></i></a>
<a class="btn btn-social btn-instagram btn-icon" href="#" role="button"><i class="fab fa-instagram"></i></a>
<a class="btn btn-social btn-soundcloud btn-icon" href="#" role="button"><i class="fab fa-soundcloud"></i></a>
<a class="btn btn-social btn-spotify btn-icon" href="#" role="button"><i class="fab fa-spotify"></i></a>
<a class="btn btn-social btn-tumblr btn-icon" href="#" role="button"><i class="fab fa-tumblr"></i></a>
<a class="btn btn-social btn-reddit btn-icon" href="#" role="button"><i class="fab fa-reddit"></i></a>
<a class="btn btn-social btn-paypal btn-icon" href="#" role="button"><i class="fab fa-paypal"></i></a>
<a class="btn btn-social btn-wordpress btn-icon" href="#" role="button"><i class="fab fa-wordpress"></i></a>
<a class="btn btn-social btn-drupal btn-icon" href="#" role="button"><i class="fab fa-drupal"></i></a>
<a class="btn btn-social btn-joomla btn-icon" href="#" role="button"><i class="fab fa-joomla"></i></a>
<a class="btn btn-social btn-github btn-icon" href="#" role="button"><i class="fab fa-github"></i></a>
<a class="btn btn-social btn-slack btn-icon" href="#" role="button"><i class="fab fa-slack"></i></a>
<a class="btn btn-social btn-windows btn-icon" href="#" role="button"><i class="fab fa-windows"></i></a>'
        },
        {
            title: 'Social effects',
            text: 'Add custom effect to the social buttons by using <code>.btn-effect</code> class just like in the example below.',
            code: '<a class="btn btn-social btn-facebook btn-icon btn-effect" href="#" role="button"><i class="fab fa-facebook-f"></i><i class="fab fa-facebook-f"></i></a>
<a class="btn btn-social btn-twitter btn-icon btn-effect" href="#" role="button"><i class="fab fa-twitter"></i><i class="fab fa-twitter"></i></a>
<a class="btn btn-social btn-google-plus btn-icon btn-effect" href="#" role="button"><i class="fab fa-google-plus-g"></i><i class="fab fa-google-plus-g"></i></a>
<a class="btn btn-social btn-youtube btn-icon btn-effect" href="#" role="button"><i class="fab fa-youtube"></i><i class="fab fa-youtube"></i></a>
<a class="btn btn-social btn-linkedin btn-icon btn-effect" href="#" role="button"><i class="fab fa-linkedin-in"></i><i class="fab fa-linkedin-in"></i></a>
<a class="btn btn-social btn-skype btn-icon btn-effect" href="#" role="button"><i class="fab fa-skype"></i><i class="fab fa-skype"></i></a>
<a class="btn btn-social btn-vk btn-icon btn-effect" href="#" role="button"><i class="fab fa-vk"></i><i class="fab fa-vk"></i></a>
<a class="btn btn-social btn-twitch btn-icon btn-effect" href="#" role="button"><i class="fab fa-twitch"></i><i class="fab fa-twitch"></i></a>
<a class="btn btn-social btn-steam btn-icon btn-effect" href="#" role="button"><i class="fab fa-steam-symbol"></i><i class="fab fa-steam-symbol"></i></a>
<a class="btn btn-social btn-dribbble btn-icon btn-effect" href="#" role="button"><i class="fab fa-dribbble"></i><i class="fab fa-dribbble"></i></a>
<a class="btn btn-social btn-vimeo btn-icon btn-effect" href="#" role="button"><i class="fab fa-vimeo-v"></i><i class="fab fa-vimeo-v"></i></a>
<a class="btn btn-social btn-pinterest btn-icon btn-effect" href="#" role="button"><i class="fab fa-pinterest"></i><i class="fab fa-pinterest"></i></a>
<a class="btn btn-social btn-instagram btn-icon btn-effect" href="#" role="button"><i class="fab fa-instagram"></i><i class="fab fa-instagram"></i></a>
<a class="btn btn-social btn-soundcloud btn-icon btn-effect" href="#" role="button"><i class="fab fa-soundcloud"></i><i class="fab fa-soundcloud"></i></a>
<a class="btn btn-social btn-spotify btn-icon btn-effect" href="#" role="button"><i class="fab fa-spotify"></i><i class="fab fa-spotify"></i></a>
<a class="btn btn-social btn-tumblr btn-icon btn-effect" href="#" role="button"><i class="fab fa-tumblr"></i><i class="fab fa-tumblr"></i></a>
<a class="btn btn-social btn-reddit btn-icon btn-effect" href="#" role="button"><i class="fab fa-reddit"></i><i class="fab fa-reddit"></i></a>
<a class="btn btn-social btn-paypal btn-icon btn-effect" href="#" role="button"><i class="fab fa-paypal"></i><i class="fab fa-paypal"></i></a>
<a class="btn btn-social btn-wordpress btn-icon btn-effect" href="#" role="button"><i class="fab fa-wordpress"></i><i class="fab fa-wordpress"></i></a>
<a class="btn btn-social btn-drupal btn-icon btn-effect" href="#" role="button"><i class="fab fa-drupal"></i><i class="fab fa-drupal"></i></a>
<a class="btn btn-social btn-joomla btn-icon btn-effect" href="#" role="button"><i class="fab fa-joomla"></i><i class="fab fa-joomla"></i></a>
<a class="btn btn-social btn-github btn-icon btn-effect" href="#" role="button"><i class="fab fa-github"></i><i class="fab fa-github"></i></a>
<a class="btn btn-social btn-slack btn-icon btn-effect" href="#" role="button"><i class="fab fa-slack"></i><i class="fab fa-slack"></i></a>
<a class="btn btn-social btn-windows btn-icon btn-effect" href="#" role="button"><i class="fab fa-windows"></i><i class="fab fa-windows"></i></a>',
        },
        {
            title: 'Social links',
            text: 'It is also possible to use social buttons without background and text color by adding <code>.btn-link</code> class to the button.',
            code: '<a class="btn btn-social btn-facebook btn-link" href="#" role="button"><i class="fab fa-facebook-f"></i></a>
<a class="btn btn-social btn-twitter btn-link" href="#" role="button"><i class="fab fa-twitter"></i></a>
<a class="btn btn-social btn-google-plus btn-link" href="#" role="button"><i class="fab fa-google-plus-g"></i></a>
<a class="btn btn-social btn-youtube btn-link" href="#" role="button"><i class="fab fa-youtube"></i></a>
<a class="btn btn-social btn-linkedin btn-link" href="#" role="button"><i class="fab fa-linkedin-in"></i></a>
<a class="btn btn-social btn-skype btn-link" href="#" role="button"><i class="fab fa-skype"></i></a>
<a class="btn btn-social btn-vk btn-link" href="#" role="button"><i class="fab fa-vk"></i></a>
<a class="btn btn-social btn-twitch btn-link" href="#" role="button"><i class="fab fa-twitch"></i></a>
<a class="btn btn-social btn-steam btn-link" href="#" role="button"><i class="fab fa-steam-symbol"></i></a>
<a class="btn btn-social btn-dribbble btn-link" href="#" role="button"><i class="fab fa-dribbble"></i></a>
<a class="btn btn-social btn-vimeo btn-link" href="#" role="button"><i class="fab fa-vimeo-v"></i></a>
<a class="btn btn-social btn-pinterest btn-link" href="#" role="button"><i class="fab fa-pinterest"></i></a>
<a class="btn btn-social btn-instagram btn-link" href="#" role="button"><i class="fab fa-instagram"></i></a>
<a class="btn btn-social btn-soundcloud btn-link" href="#" role="button"><i class="fab fa-soundcloud"></i></a>
<a class="btn btn-social btn-spotify btn-link" href="#" role="button"><i class="fab fa-spotify"></i></a>
<a class="btn btn-social btn-tumblr btn-link" href="#" role="button"><i class="fab fa-tumblr"></i></a>
<a class="btn btn-social btn-reddit btn-link" href="#" role="button"><i class="fab fa-reddit"></i></a>
<a class="btn btn-social btn-paypal btn-link" href="#" role="button"><i class="fab fa-paypal"></i></a>
<a class="btn btn-social btn-wordpress btn-link" href="#" role="button"><i class="fab fa-wordpress"></i></a>
<a class="btn btn-social btn-drupal btn-link" href="#" role="button"><i class="fab fa-drupal"></i></a>
<a class="btn btn-social btn-joomla btn-link" href="#" role="button"><i class="fab fa-joomla"></i></a>
<a class="btn btn-social btn-github btn-link" href="#" role="button"><i class="fab fa-github"></i></a>
<a class="btn btn-social btn-slack btn-link" href="#" role="button"><i class="fab fa-slack"></i></a>
<a class="btn btn-social btn-windows btn-link" href="#" role="button"><i class="fab fa-windows"></i></a>
<a class="btn btn-social btn-linux btn-link" href="#" role="button"><i class="fab fa-linux"></i></a>'
        },
        {
            title: 'Social blocks',
            text: 'Use <code>.btn-block</code> class with the choosen button. It can be useful when you would like to add a login button to the login or register form.',
            code: '<div class="row row-xs">
    <div class="col-lg-4">
        <a class="btn btn-social btn-facebook btn-block" href="#" role="button"><i class="ya ya-facebook"></i> connect with facebook</a>
    </div>
    <div class="col-lg-4">
        <a class="btn btn-social btn-twitch btn-block" href="#" role="button"><i class="ya ya-twitch"></i> connect with twitch</a>
    </div>
    <div class="col-lg-4">
        <a class="btn btn-social btn-github btn-block" href="#" role="button"><i class="ya ya-github"></i> connect with github</a>
    </div>
</div>',
        }
    ]
} %}

{% set custom %}
    <div class="card card-default example mb-4">
        <h6 class="card-header">{{ docs.blocks[0]['title'] }}</h6>
        <div class="card-body">
            {{ docs.blocks[0]['code'] }}
        </div>
    </div>
    <div class="card card-default example mb-4">
        <h6 class="card-header">{{ docs.blocks[1]['title'] }}</h6>
        <div class="card-body">
            {{ docs.blocks[1]['code'] }}
        </div>
    </div>
    <div class="card card-default example mb-4">
        <h6 class="card-header">{{ docs.blocks[2]['title'] }}</h6>
        <div class="card-body">
            {{ docs.blocks[2]['code'] }}
        </div>
    </div>
    <div class="card card-default example mb-4">
        <h6 class="card-header">{{ docs.blocks[3]['title'] }}</h6>
        <div class="card-body">
            {{ docs.blocks[3]['code'] }}
        </div>
    </div>
    <div class="card card-default example mb-4">
        <h6 class="card-header">{{ docs.blocks[4]['title'] }}</h6>
        <div class="card-body">
            {{ docs.blocks[4]['code'] }}
        </div>
    </div>
    <div class="card card-default mb-0">
        <h6 class="card-header">{{ docs.blocks[5]['title'] }}</h6>
        <div class="card-body">
            {{ docs.blocks[5]['code'] }}
        </div>
    </div>
{% endset %}
