<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if meta.description %}
        <meta name="description" content="{{ meta.description }}">
    {% endif %}

    {% if config.docs == 'local' %}{% set path = '../dist/' %}{% else %}{% set path = '../' %}{% endif %}

    <title>Documentation v{{ config.version }} | {{ config.title }}</title>

    <!-- css: plugins -->
    {% if block("css") is defined %}
        {% block css %}{% endblock %}
    {% endif %}
    <link rel="stylesheet" href="plugins/highlight/styles/github.css">

    <!-- css: theme -->
    <link rel="stylesheet" href="{{ path }}css/theme.min.css">
    <link rel="stylesheet" href="css/docs.min.css">
</head>
<body class="fixed-navbar">
    <div class="site">
        <header class="site-header">
            {% include 'header.twig' %}
        </header>
        <!-- end .site-header -->

        {% include 'sidebar.twig' %}
        <!-- end .sidebar -->

        <div class="site-content" role="main">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-9">
                            {% include 'content.twig' %}
                        </div>
                        <div class="col-3">
                            <nav class="nav nav-docs flex-column" ya-sticky="top: 100">
                                {% for nav in page.blocks %}
                                    <a class="nav-link" href="#{{ nav.title|lower|replace({' ': "-", ':': "", '.': ""}) }}">{{ nav.title }}</a>
                                {% endfor %}
                                {% if page.bootstrap %}
                                    <a class="nav-link" href="https://getbootstrap.com/docs/4.1/{{ page.bootstrap }}/" target="_blank">Bootstrap</a>
                                {% endif %}
                                <div class="divider"></div>
                                <a class="nav-link" href="https://github.com/yakuthemes/gameforest/issues" target="_blank"><i class="ya ya-help"></i> Report issue</a>
                                <a class="nav-link" href="support.html"><i class="ya ya-link"></i> Get help</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- end .site-content -->

        <a class="version" href="changelog.html" data-toggle="tooltip" data-placement="left" title="Current version of Gameforest"><i class="ya ya-bulb mr-1"></i> v{{ config.version }}</a>

        <footer class="docs-footer">
           {% include 'footer.twig' %}
        </footer>
    </div>
    <!-- end .site -->

    <!-- js: vendor -->
    <script src="{{ path }}plugins/jquery/jquery.min.js"></script>
    <script src="{{ path }}plugins/popper/popper.min.js"></script>
    <script src="{{ path }}plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/holder/holder.min.js"></script>
    <script src="plugins/clipboard/clipboard.min.js"></script>
    <script src="plugins/highlight/highlight.pack.js"></script>
    <script type="text/javascript">
        var path = '../dist/plugins';
        (function($) {
            Holder.addTheme('ya', {bg: '#ededed', fg: '#ededed'}).run();

            hljs.initHighlightingOnLoad();

            function setTooltip(btn, message) {
                $(btn).attr('data-original-title', message).tooltip('show');
            }

            function hideTooltip(btn) {
                setTimeout(function() {
                    $(btn).tooltip('hide');
                }, 2000);
            }

            var clipboard = new ClipboardJS('.btn', {
                text: function(trigger) {
                    return $(trigger.getAttribute('rel')).text();
                }
            });

            clipboard.on('success', function(e) {
                e.clearSelection();
                setTooltip(e.trigger, 'Copied!');
                hideTooltip(e.trigger);
            });
        })(jQuery);
    </script>
    <script src="js/docs.min.js"></script>
    <script src="{{ path }}js/theme.bundle.min.js"></script>
    {% if block("js") is defined %}
        {% block js %}{% endblock %}
    {% endif %}
    <script>
        var gameforest = {
            disqus: '{{ config.disqus }}',
            facebook: {
                lang: '{{ config.facebook.lang }}',
                version: '{{ config.facebook.version }}',
                id: '{{ config.facebook.appID }}',
            }
        }
    </script>
</body>
</html>
