<h1 class="mb-4">{{ docs.title }}</h1>
<p class="lead">{{ docs.text }}</p>
<hr class="docs-separator my-5">
{% for docs in docs.blocks %}
    <div class="docs-block{% if docs.class %} {{ docs.class }}{% endif %}">
        <h4 id="{{ docs.title|lower|replace({' ': "-", ':': ""}) }}" class="mb-3 anchor">
            {% if docs.icon %}<i class="{{ docs.icon }} mr-2"></i>{% endif %}
            {{ docs.title }}
        </h4>

        <p>{% if (config.docs == 'local') and (docs.verified) %}{{ docs.verified }}{% else %}{{ docs.text }}{% endif %}</p>

        {% if docs.code %}{{ docs.code|raw|replace({'img/': '../dist/img/' }) }}{% endif %}

        {% if (docs.code) or (docs.pre) %}
            <div class="docs-code{% if docs.single %} mt-0{% endif %}">
                {% if docs.copy != false %}<button class="btn btn-default btn-icon btn-clipboard" data-toggle="tooltip" title="Copy" rel="#{{ docs.title|lower|replace({' ': "-"}) }}_code"><i class="ya ya-save"></i></button>{% endif %}
                <pre class="pre"><code id="{{ docs.title|lower|replace({' ': "-"}) }}_code" class="{% if docs.json != true %}twig{% endif %}{% if docs.json %} json{% endif %}{% if docs.small %} shell-session p-4{% endif %}">{% if docs.pre %}{{ docs.pre|escape }}{% else %}{{ docs.code|escape }}{% endif %}</code></pre>
            </div>
        {% endif %}

        {% if docs.table %}
            <table class="table">
                <thead>
                    <tr>
                        {% for head in docs.table.head %}
                            <th scope="col"{% if head.width %} style="width: {{ head.width }}"{% endif %}>{{ head.title }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for body in docs.table.body %}
                        <tr>
                            {% for td in body %}
                                <td>{% if td.code %}<code>{{ td.text }}</code>{% else %}{{ td.text }}{% endif %}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {{ docs.custom }}
    </div>
{% endfor %}

{% if docs.plugins %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Plugin name</th>
                <th>Version</th>
                <th>URL</th>
                <th>Github</th>
            </tr>
        </thead>
        <tbody>
            {% for plugin in docs.plugins %}
                <tr>
                    <td scope="row">{{ plugin.title }}</td>
                    <td>{{ plugin.version }}</td>
                    <td><a class="link" href="{{ plugin.url }}" target="_blank">{{ plugin.url }}</a></td>
                    <td class="text-center"><a href="{{ plugin.github }}" target="_blank"><i class="ya ya-github"></i></a></td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if docs.changelog %}
    {% for changelog in docs.changelog %}
        <div class="mb-5">
            <div class="d-flex align-items-center mb-3">
                <span>{{ changelog.version }} -</span>
                <i class="ya ya-calendar mr-2 ml-1 text-muted font-size-md mb-1"></i> {{ changelog.date }}
            </div>

            {% for log in changelog.list %}
                {% if log.badge == 'Fix' %}{% set badge = 'success' %}{% endif %}
                {% if log.badge == 'Changed' %}{% set badge = 'warning' %}{% endif %}
                {% if log.badge == 'Update' %}{% set badge = 'primary' %}{% endif %}
                {% if log.badge == 'Remove' %}{% set badge = 'danger' %}{% endif %}

                <div class="card shadow-none mb-2">
                    <div class="card-body py-2">
                        {% if log.badge %}
                            <div class="d-inline-block" style="width: 90px">
                                <span class="d-inline-block badge badge-{{ badge }}" style="padding: 5px 8px;">{{ log.badge }}</span>
                            </div>
                        {% endif %}
                        {{ log.desc }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}
